node_modules/
.DS_Store
config/configuration.js
config/configuration.env
config/configuration.json
config/configuration.yaml
config/configuration.yml
.prettierrc.js
.prettierrc.cjs
.prettierrc.config.js
.prettierrc.config.cjs
.prettierrc.config.toml
.prettierrc.env
.prettierrc.json
.prettierrc.yaml
.prettierrc.yml
package-lock.json
.prettierrc
.gitignore
yarn.lock
